.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 2px solid orangered;
}
.shop-container div{
    width: 90%;
    margin: 20px auto;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
}